.wrapper {
    display: flex;
    align-items: center;
}

.input {
    width: 0px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--white);
    transition: width .4s ease;

    &.active {
        width: 250px;
    }
}

.button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(../../../assets/icons/secondary-nav_bg_search-white.svg);
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    opacity: .7;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}