.header {
    padding: 25px 65px 20px;
    background-color: var(--yellow-main);
    z-index: 100;

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.inner {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 75px;

    img {
        width: 250px;
        height: 42px;
        line-height: 1;
    }
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 40px;

    a {
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -10px;
            left: 0;
            background: var(--black);
            transform: scaleX(0);
            opacity: 0;
            transition: 0.5s all ease-out;
        }

        &:hover {
            &:after {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }
}

.sound {
    position: absolute;
    right: 60px;
    display: flex;
    align-items: center;
    padding-right: 34px;
    cursor: pointer;

    &:after {
        content: '';
        background: url(../../../../assets/svgs/sound_off.svg) no-repeat;
        width: 26px;
        height: 26px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &.play {
        &:after {
            background-image: url(../../../../assets/svgs/sound_on.svg);
            width: 28px;
            height: 44px;
        }
    }
}