.breadcrumb {
    ul {
        display: flex;
        align-items: center;
    }

    li {
        padding-left: 25px;
        font-size: 1.2rem;
        position: relative;

        &:nth-child(n+2) {
            &:before {
                content: "／";
                position: absolute;
                left: 5px;
            }
        }
    }

    a {
        color: var(--black-3);
        text-decoration: underline;
    }

    img {
        display: inline-block;
        width: 14px;
        margin-right: 8px;
    }
}