.layout-main {
    --home-page-width: 1080px;

    min-width: var(--home-page-width);
    height: 100%;
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: .2em;
    background-color: #e9d641;
}

.mv {
    width: var(--home-page-width);
    margin: 30px auto 180px;

    .tv {
        margin-bottom: 30px;
        opacity: 0;
        transition: 0.5s all ease-out;

        video {
            display: block;
            width: 100%;
        }

        .bottom {
            width: 87.4%;
            height: 20px;
            margin: 0 auto;
            background-color: var(--black);
            clip-path: polygon(0 0, 100% 0, 98.7% 100%, 1.3% 100%);
        }
    }


    img {
        padding: 0 9.3%;
        opacity: 0;
        transition: 0.3s all ease-out;
        transition-delay: .3s;
    }

    &.active {
        .tv {
            opacity: 1;
        }

        img {
            opacity: 1;
        }
    }
}

.product {
    width: var(--home-page-width);
    margin: 0 auto 220px;

    .content {
        position: relative;
        margin-top: 80px;

        .text {
            width: 672px;
            padding-bottom: 250px;

            img {
                transition: 1.3s all ease-in;
                transform: translateX(5px);
                opacity: 0;
                filter: blur(10px);
            }

            .line1 {
                width: 90%;
                margin-bottom: 17px;
                transition-delay: 2.8s;
            }

            .line2 {
                width: 61.6%;
                margin-bottom: 67px;
                transition-delay: 3.55s;
            }

            .line3 {
                width: 70%;
                margin-bottom: 67px;
                transition-delay: 4.3s;
            }

            .line4 {
                width: 100%;
                margin-bottom: 17px;
                transition-delay: 5.05s;
            }

            .line5 {
                width: 58.6%;
                margin-bottom: 67px;
                transition-delay: 5.8s;
            }

            .line6 {
                width: 76.1%;
                margin-bottom: 17px;
                transition-delay: 6.55s;
            }

            .line7 {
                width: 66.9%;
                transition-delay: 7.3s;
            }
        }

        .image {
            position: absolute;
            top: 70px;
            right: 0;
            width: 33.6%;
            transition: 4s all ease-out;
            transform: translate(10px, 7px);
            opacity: 0;
            transition-delay: 6s;

            .img1 {
                width: 100%;

            }

            .img2 {
                position: absolute;
                width: 72.3%;
                right: 0;
                bottom: 0;
                transform: translate(110px, 34px);
            }
        }
    }

    .box {
        margin-top: 207px;
        transition: 0.7s all ease-out;
        transform: translateY(10px);
        opacity: 0;

        p {
            position: relative;
            margin-top: 10px;
            padding-left: 1.2em;
            font-size: 1.2rem;
            line-height: 1.4;
            color: var(--black);

            &:before {
                content: '※';
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &.active {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .buy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        transition: 1s all ease-out;
        opacity: 0;

        p {
            position: relative;
            margin-bottom: 10px;
            padding: 0 25px;
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.2;
            color: var(--black);

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                width: 2px;
                height: 100%;
                background-color: var(--black);
            }

            &:before {
                left: 0;
                transform: rotate(-25deg);
            }

            &:after {
                right: 0;
                transform: rotate(25deg);
            }
        }

        img {
            transition: all .5s ease;

            &:hover {
                opacity: .7;
            }
        }

        &.active {
            opacity: 1;
        }
    }


    &.active {
        .text {
            img {
                transform: translateX(0);
                opacity: 1;
                filter: blur(0px);
            }
        }

        .image {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

.scene {
    width: var(--home-page-width);
    margin: 0 auto 220px;
}

.faq {
    width: var(--home-page-width);
    margin: 0 auto 70px;

    .note {
        margin-top: 120px;

        .box {
            padding: 30px 45px;
            border: 2px solid var(--black);
            margin-bottom: 60px;

            p {
                position: relative;
                margin-bottom: 5px;
                padding-left: 1.5em;
                font-size: 1.3rem;
                line-height: 1.4;
                color: var(--black);
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .link {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: inline-block;
                margin-right: 10px;
                padding: 5px;
                border: 2px solid var(--black);
                color: var(--black);
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: .1em;
            }

            a {
                font-weight: 700;
                color: var(--black);
                letter-spacing: .1em;

                &:after {
                    content: "";
                    display: inline-block;
                    margin-left: 5px;
                    width: 10px;
                    height: 10px;
                    background-image: url("../../assets/svgs/icon-window_bg01.svg");
                    opacity: 0.7;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.attention {
    background-color: var(--white);

    .wrapper {
        width: var(--home-page-width);
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
        padding: 10px 0;
    }
}